* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* Google Font Import - Poppins */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Roboto', sans-serif; */
}

:root {
	/* ===== Colors ===== */

	--toggle-color: #ddd;

	--button-primary: #05f;
	--background: #f5f5f5;
	--text: #212529;
	--primary: #fff;

	--button-primary: #05f;
	--button: #eee;
	--button-text-primary: #fff;
	--button-text: #343a40;
	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;

	--header-height: 3.5rem;
}
body.dark {
	--background: #1a2235;
	--text: #ddd;
	--primary: #293145;
	--toggle-color: #fff;
}
body {
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text);
	transition: var(--tran-05);
}
.sidebar.close ~ .main {
	padding: 70px 0 0 100px;
}

.main {
	padding: 70px 0 0 260px;
	transition: all 0.3s ease;
	background-color: var(--background);
	min-height: 100vh;
}

@media screen and (max-width: 768px) {
	.main {
		padding: 70px 20px 0 !important;
	}
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: 0 auto;
}

main {
	max-width: 1024px;
	margin: 0 auto;
	padding: 30px 10px 50px;
	border-radius: 5px;
}

.dark .hljs {
	display: block;
	overflow-x: auto;
	/* padding: 0.5em;
	background: #282a36; */
}

.dark .hljs-built_in,
.dark .hljs-selector-tag,
.dark .hljs-section,
.dark .hljs-link {
	color: #8be9fd;
}

.dark .hljs-keyword {
	color: #ff79c6;
}

.dark .hljs,
.dark .hljs-subst {
	color: #f8f8f2;
}

.dark .hljs-title,
.dark .hljs-attr,
.dark .hljs-meta-keyword {
	font-style: italic;
	color: #50fa7b;
}

.dark .hljs-string,
.dark .hljs-meta,
.dark .hljs-name,
.dark .hljs-type,
.dark .hljs-symbol,
.dark .hljs-bullet,
.dark .hljs-addition,
.dark .hljs-variable,
.dark .hljs-template-tag,
.dark .hljs-template-variable {
	color: #f1fa8c;
}

.dark .hljs-comment,
.dark .hljs-quote,
.dark .hljs-deletion {
	color: #6272a4;
}

.dark .hljs-keyword,
.dark .hljs-selector-tag,
.dark .hljs-literal,
.dark .hljs-title,
.dark .hljs-section,
.dark .hljs-doctag,
.dark .hljs-type,
.dark .hljs-name,
.dark .hljs-strong {
	font-weight: bold;
}

.dark .hljs-literal,
.dark .hljs-number {
	color: #bd93f9;
}

.dark .hljs-emphasis {
	font-style: italic;
}

.blog-widget-title {
	margin-top: 10px;
	padding: 20px 0;
	font-size: 20px;
	font-weight: 600;
}
.shadow {
	box-shadow: 0 8px 30px rgb(0 0 0 / 5%) !important;
}

/* ------------------------------Login---------------------------------- */
@import url('./sidebar.css');
@import url('./header.css');
@import url('./login.css');
@import url('./card.css');
@import url('./admin/category.css');
@import url('./admin/blog.css');
@import url('./post.css');
