* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	/* ===== Colors ===== */
	--body-color: #48525c;
	--body-background: #fafafc;

	--sidebar-color: #fefefe;
	--sidebar-text-color: #161617;
	--toggle-color: #ddd;
	--sidebar-hover-color: #efefef;
	--sidebar-hover-text-color: #1a1d1f;

	/* ====== Transition ====== */
	--tran-03: all 0.2s ease;
	--tran-03: all 0.3s ease;
	--tran-04: all 0.3s ease;
	--tran-05: all 0.3s ease;

	--header-height: 3.5rem;
}
body.dark {
	--body-color: #fefefe;
	--body-background: #1e1e1e;

	--sidebar-color: #2d2d30;
	--sidebar-text-color: #fbfbfb;
	--toggle-color: #fff;
	--sidebar-hover-color: #272b30;
	--sidebar-hover-text-color: #fcfcfc;
}
body {
	min-height: 100vh;
	background-color: var(--body-background);
	color: var(--body-color);
	transition: var(--tran-05);
}
.sidebar.close ~ .main {
	margin: 70px 0 0 100px;
}

.main {
	margin: 70px 0 0 260px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
	.main {
		margin: 70px 0 0 0 !important;
		padding: 0 20px;
	}
}

.blog-posts {
	display: flex;
	flex-wrap: wrap;
	max-width: 1024px;
	margin: 0 auto;
}

/* ------------------------------Login---------------------------------- */
@import url('./sidebar.css');
@import url('./header.css');
@import url('./login.css');
@import url('./card.css');
@import url('./admin/category.css');
