.category-main {
	padding: 30px 3%;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
}

.category-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 30px;
	color: var(--text);
}

.category-title {
	font-size: 2rem;
}

.btn {
	font-size: 14px;
	font-weight: 500;
	padding: 10px 40px;
	color: var(--text);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	background-color: var(--primary);
}

.category-new {
	background-color: var(--button-primary);
	color: var(--button-text-primary);
}

.category-body {
	flex: 1 1 auto;
	padding: 1.3rem 1.3rem;
	transition-duration: 0.3s;
	overflow: hidden;
	margin-bottom: 1.5rem;
	background-color: transparent;
	color: var(--text);
}

.table {
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	border-collapse: separate;
	margin-bottom: 0;
	color: var(--text);
}

table td:not([align]),
table th:not([align]) {
	text-align: inherit;
}

.table td,
.table th {
	border: 1px solid #dbdbdb;
	border-width: 0 0 1px;
	padding: 0.5em 0.75em;
	vertical-align: top;
}

.update-btn {
	border-radius: 0.2rem;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--button-primary);
	color: var(--button-text-primary);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 0.25rem;
	padding: 4px 8px;
}

.delete-btn {
	padding: 4px 8px;

	border-radius: 0.2rem;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	background-color: var(--button);
	color: var(--button-text);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}
.label-category {
	display: inline-block;
	margin-bottom: 0.5rem;
}

.form-control {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 0.25rem;
}

.form-control:focus {
	outline: unset;
}

a {
	text-decoration: none;
}

.button-submit-category {
	float: right;
	background-color: var(--button-primary);
	color: var(--button-text-primary);
}

.nav-btn a {
	margin-right: 8px;
}

@media screen and (max-width: 768px) {
	tr {
		background: inherit;
		margin-bottom: 1rem;
		box-shadow: 0 2px 3px rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 10%);
		max-width: 100%;
		position: relative;
		display: block;
		background-color: var(--primary);
	}
	td {
		display: flex;
		width: auto;
		justify-content: space-between;
		text-align: right;
		border-bottom: 1px solid #f5f5f5;
		border: 0;
	}
	td::before {
		content: attr(data-label);
		font-weight: 600;
		padding-right: 0.5rem;
		text-align: left;
	}
	thead {
		display: none;
	}

	.nav-btn a {
		margin-left: auto;
	}
}

.item-category {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.nav-btn {
		width: 170px;
	}

	.table {
		background-color: var(--primary);
		padding: 10px;
	}
}
